apexForAgentforceSuperbadge/flows/Lookup_Experience.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set record variable for Experience</description>
        <name>Set_Experience_Record_Var</name>
        <label>Set Experience Record Var</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordVarExperience</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Experience_Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Retrieve Experience record based on user input.</description>
    <environments>Default</environments>
    <interviewLabel>Lookup Experience {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lookup Experience</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the experience name based on customer input.</description>
        <name>Get_Experience_Name</name>
        <label>Get Experience Name</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Experience_Record_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>experienceName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Experience__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Experience_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>This variable contains the experience name the user provides in the chat.</description>
        <name>experienceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the Experience record retrieved based on the user input.</description>
        <name>recordVarExperience</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Experience__c</objectType>
    </variables>
</Flow>
