flowForAgentforceSuperbadge/flows/Refund_Request_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Identify whether a matching order and line item were found, based on the customer&apos;s input in the messaging session</description>
        <name>Did_we_find_a_matching_order_and_line_item</name>
        <label>Did we find a matching order and line item?</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_This_Contact_s_Orders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found no order (or line item)</defaultConnectorLabel>
        <rules>
            <name>Yes_found_order_line_item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Line_Item.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Refund_Request</targetReference>
            </connector>
            <label>Yes, found order + line item</label>
        </rules>
        <rules>
            <name>Found_only_order_no_line_item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Line_Item.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Line_Items_on_Found_Order</targetReference>
            </connector>
            <label>Found only order, no line item</label>
        </rules>
    </decisions>
    <description>This Autolaunched flow supports the refund process for agents by automating refund requests based on original order details.</description>
    <environments>Default</environments>
    <formulas>
        <description>Name of Refund Request</description>
        <name>refundRequestName</name>
        <dataType>String</dataType>
        <expression>{!Get_Current_Order.Name} + &quot; - &quot; + {!Get_Current_Order.OrderNumber}</expression>
    </formulas>
    <interviewLabel>Refund Request Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refund Request Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a case in the event of any issues preventing the successful formation of a Refund Request record</description>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>caseID</assignRecordIdToReference>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>verifiedContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>caseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Error Creating Refund Request</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Gets information about the order the customer is requesting a refund for, gets order details, and uses those details to create a Refund Request record.</description>
        <name>Create_Refund_Request</name>
        <label>Create Refund Request</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Newly_Created_Refund_Request</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Case</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Current_Order.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Get_Order_Line_Item.TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>refundReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>refundRequestName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>Get_Current_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Refund_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the order the customer is requesting a refund for.</description>
        <name>Get_Current_Order</name>
        <label>Get Current Order</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>CustomerAuthorizedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>verifiedContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the recently created Refund Request to summarize as an output back to the customer acknowledging the request has been created</description>
        <name>Get_Newly_Created_Refund_Request</name>
        <label>Get Newly Created Refund Request</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Refund_Request</elementReference>
            </value>
        </filters>
        <object>Refund_Request__c</object>
        <outputReference>refundRequestOut</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the Order Product that is being returned or refunded</description>
        <name>Get_Order_Line_Item</name>
        <label>Get Order Line Item</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_a_matching_order_and_line_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Return products from an order, when a customer provides an order number but not a product name</description>
        <name>Get_Order_Line_Items_on_Found_Order</name>
        <label>Get Order Line Items on Found Order</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Order.Id</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>orderProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>OrderItemNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Return the customer&apos;s most recent orders when a customer doesn&apos;t provide an order number</description>
        <name>Get_This_Contact_s_Orders</name>
        <label>Get This Contact&apos;s Orders</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerAuthorizedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>verifiedContactID</elementReference>
            </value>
        </filters>
        <limit>
            <numberValue>5.0</numberValue>
        </limit>
        <object>Order</object>
        <outputReference>customersOrders</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Provides text for the description field on a case in the event of any issues preventing the successful formation of a Refund Request record.</description>
        <name>caseDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;There was an error in the flow creating a Refund Request Record for Contact related here.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Order Number: {!Get_Current_Order.OrderNumber}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Order Product Name: {!Get_Order_Line_Item.Product_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Fault Message: {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please investigate.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>This is the ID of the support case created by the flow when the flow encounters an error when trying to create a Refund Request Record. In the case of an error, present the User with the Case&apos;s number and notify them that there has been an error.</description>
        <name>caseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Returns the 5 most recent orders made by the customer. Be sure to list their names, numbers, and order dates to the customer in the case that the customer doesn&apos;t know their order number.</description>
        <name>customersOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <description>The order number of the customer&apos;s specified order</description>
        <name>orderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the record variable of the Order Products when an order is found but no matching Order Products, if this variable is empty let the customer know we weren&apos;t able to find their exact Order Product per the product name they mentioned, and ask if one of these Order Products is the one they have an issue with.</description>
        <name>orderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <description>The name of the product specified in the customer&apos;s order</description>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This the provided reason for the refund and is added to the comments field of the refund request.</description>
        <name>refundReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>refundRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Refund</objectType>
    </variables>
    <variables>
        <description>The created refund request. Present this record&apos;s details to the customer once created including the Refund Request Number and Comments.</description>
        <name>refundRequestOut</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Refund_Request__c</objectType>
    </variables>
    <variables>
        <description>Receives the ID of the contact we have verified who is interacting with the Agent</description>
        <name>verifiedContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
