flowForAgentforceSuperbadge/flows/Refund_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Put_Refund_Id_into_Variable</name>
        <label>Put Refund Id into Variable</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>refundNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Newly_Created_Refund_Order.RefundNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Handles refunds for customer service.</description>
    <environments>Default</environments>
    <formulas>
        <description>Name of Refund Request</description>
        <name>refundRequestName</name>
        <dataType>String</dataType>
        <expression>{!Get_Current_Order.Name} + &quot; - &quot; + {!Get_Current_Order.OrderNumber}</expression>
    </formulas>
    <interviewLabel>Refund Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refund Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Refund_Order</name>
        <label>Create Refund Order</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Newly_Created_Refund_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Current_Order.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Get_Order_Line_Item.TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>Get_Current_Order.OriginalOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingMode</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Referenced</stringValue>
            </value>
        </inputAssignments>
        <object>Refund</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the order the customer is requesting a refund for.</description>
        <name>Get_Current_Order</name>
        <label>Get Current Order</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Newly_Created_Refund_Order</name>
        <label>Get Newly Created Refund Order</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Put_Refund_Id_into_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Refund_Order</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Refund</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Order Product that is being returned or refunded</description>
        <name>Get_Order_Line_Item</name>
        <label>Get Order Line Item</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Refund_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>This is the ID of the support case created by the flow when the flow encounters an error when trying to create a Refund Request Record. In the case of an error, present the User with the Case&apos;s number and notify them that there has been an error.</description>
        <name>caseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The order number of the customer&apos;s specified order</description>
        <name>orderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the record variable of the Order Products when an order is found but no matching Order Products, if this variable is empty let the customer know we weren&apos;t able to find their exact Order Product per the product name they mentioned, and ask if one of these Order Products is the one they have an issue with.</description>
        <name>orderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <description>Id of the product the customer has an issue with.</description>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The name of the product specified in the customer&apos;s order</description>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>refundNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This the provided reason for the refund and is added to the comments field of the refund request.</description>
        <name>refundReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>refundRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Refund</objectType>
    </variables>
    <variables>
        <description>The created refund request. Present this record&apos;s details to the customer once created including the Refund Request Number and Comments.</description>
        <name>refundRequestOut</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Refund_Request__c</objectType>
    </variables>
</Flow>
